.bg_list_rap{
    background-image: url(./../../../img/back-ground.png);
    height: 120px;
    background-size: cover;
}
.list_rap{
    border: 1px solid #ebebec;
    border-radius: 4px;
    .tab1 .nav-link{
        border: 0;
        padding: 20px 0;
        margin: 0 20px;
        background-color: unset!important;
        &:hover{
            img{
                opacity: 1;
            }
        }
        &:focus{
            outline: none;
        }
        img{
            width: 50px;
            opacity: .5;
        }
        border-bottom: 1px solid rgba(238,238,238,.88);
    }
    .tab1 .nav-link.active{
        img{
            opacity: 1;
        }
    }
    .tab2{
            height: 630px;
            overflow-y: scroll;
            border-left:1px solid #ebebec;
            border-right:1px solid #ebebec;
            flex-wrap: nowrap;
        .nav-link{
            width: 90%;
            text-align: left;
            border: 0;
            color: black;
            padding:20px 0px;
            margin: 0 15px;
            opacity: .5;
            background-color: unset!important;
            border-bottom: 1px solid rgba(238,238,238,.88);
            &:hover{
                opacity: 1;
            }
            &:focus{
                outline: none;
            }
        }
        .nav-link.active{
            opacity: 1;
        }
    }
    .tab3{
        height: 630px;
        overflow-y: scroll;
        flex-wrap: nowrap;
        width: 10%;
        flex-grow: 1;
    .nav-link{
        width: 95%;
        text-align: left;
        border: 0;
        color: black;
        padding:20px 0px;
        margin: 0 15px;
        opacity: 1;
        background-color: unset!important;
        border-bottom: 1px solid rgba(238,238,238,.88);
        &:focus{
            outline: none;
        }
        img{
            height: 70px;
        }
        button{
            font-size: 10px;
            padding: 0 2px;
        }
    }
}
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 3.5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 3.5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
}
